body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #B7B7B7;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

.logo{
  width: 263px;
  
}

h1 {
  margin-top: 0;
  font-size: 5rem;
  width: 75%;
}

.creative{
  color:#829460 ;
}

.left{
  float: left;
}

.right{
  float: right;
}

.card{
  width: 50%;
}

.card-title{
  color: #D14D72;
  margin-top: 0;
  margin-bottom: 0;
}

.card-text{
  line-height: 2;
  font-size: 15px;
}

.tile-image{
  border: #829460 solid;
  height: 200px;
  float: left;
  margin-right: 30px;
  border-radius: 10%;
 
}

footer {
  text-align: right;
  color: #829460;
}

@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    width: auto;
    font-size: 2.5rem;
    text-align: center;
  }

  .card {
    display: block;
    width: 100%;

  }

  .tile-image {
    border: #829460 solid;
    width: 100%;
    display: inline;
    object-fit: cover;
    border-radius: 0;

  }

  .card-text{
    text-align: justify;
    line-height: 2;
    font-size: 12px;
   
  }
}
@media (min-width: 681px) and (max-width: 1201px){

  .logo{
    width: 150px;
  }

  h1 {
    width: auto;
    font-size: 3.5rem;
    text-align: left;
  }

  .card {
    display: block;
    width: 70%;
  }

  .left{
    float: none;
  }

  .right{
    float: none;
  }

  .card-title{
    clear: both;
    text-align: center;
  }

  .tile-image {
    margin-bottom:30px;
    margin-left: 20%;
    clear: both;
    border: #829460 solid;
    width: 60%;
    display: block;
    object-fit: cover;
    border-radius: 10%;
  }

  .card-text{
    clear: both;
    text-align: center;
    line-height: 2;
    font-size: 20px;
    margin-bottom: 50px;
  }
}